# Data Structures
### List
### Tuple
### Set
### Dictionary

# List
1]A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item.

2]Mutables means changable in simple words like we can add,remove,update,delete multiple values from the given list.

3]List is represented in simple square brackets i.e. [ ]

In [1]:
#lets try to create a list
list1=[1,2,3,4]
print(list1)

[1, 2, 3, 4]

All elemnents present inside list are known as item


List can hold all types of items inside it like float,int,string,char etc

list can also contain list inside itself which is knwon as nested list

In [3]:
list2=[7,8.4,'char','a']
#this list contains items of all data types like int,float,str,char

In [4]:
print(list2)

[7, 8.4, 'char', 'a']

# Indexing  and Slicing

In [5]:
raw_list=[1,2,3,4,5]
raw_list[0]

1

In [6]:
#raw_list[0:]

In [7]:
raw_list[1:]
#this will return all the elements present after index position one

[2, 3, 4, 5]

In [8]:
raw_list[:3]
#last is not included

[1, 2, 3]

In [9]:
raw_list[::-1]
#this is used to reverse a list

[5, 4, 3, 2, 1]

In [10]:
raw_list[1:4:2]
#this will return elemets at the space of 2

[2, 4]

### Nested list

In [11]:
l1=['Rohit','Amey','Shubham']
l2=['Iphone','Honor ','Honor Lite']
l3=[l1,l2]

In [12]:
print(l3)

[['Rohit', 'Amey', 'Shubham'], ['Iphone', 'Honor ', 'Honor Lite']]

List supports multiple attributes in pyhton

lets see them 1 by 1

# To add values in a list
we have 4 methods

1] l=l + ['new item']

#the above method is used to add single element in an existing list and new added element will be present at last position

2]l.append(value)

#append will add new element at the end of an existing list.This method can add only 1 value at a time

3]l.insert(position,value)
#whenever user wants to add some value in list at some desired position then one can use the above method to add new element at
some desired position

4]l.extend([multiple values enclosed in square brackets])
#whenever user wants to add multiple values in existing list then one can use the extend function

Lets see their functioning

In [13]:
l=[1,2,3,4]
l=l+[5]
print(l)
#as we can see in output 5 is added at last position

[1, 2, 3, 4, 5]

In [14]:
l=[6,7,8,9]
l.append(10)
print(l)
# as we acn see the ouput 10 is added vat last index

[6, 7, 8, 9, 10]

In [15]:
l=[1,3,4,5,6]
l.insert(1,2)
print(l)
#so here we inserted 2 at index position 1

[1, 2, 3, 4, 5, 6]

In [16]:
l=[1,2,3,4,5]
l.extend([6,7,8,9,0])
print(l)
# here we extended the values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

# Removing values from list
Here also we have 4 most used methods

l.clear()

-This will clear list i.e. will remove all elements present inside existing list

l.pop(index_position)

-when programmer wants to remove some values depending upon their index position then pop can be used 

l.remove(value)

-when programmer wants to remove some values depending upon their actual values from list position then remove can be used

del  l[slicing]

-whenever progarmmer wants to remove multiple values from given list then del is used

In [17]:
#raw_list
raw_list=[1,2,3,4,5]

In [18]:
raw_list.clear()
print(raw_list)

[]

In [19]:
raw_list=[1,2,3,4,5]

In [20]:
raw_list.pop(0)
print(raw_list)

[2, 3, 4, 5]

In [22]:
raw_list.remove(2)
print(raw_list)

[3, 4, 5]

In [23]:
del raw_list[1:2]
print (raw_list)

[3, 5]

##  There are some more useful methods available for list

1) index(number)
-This will return the index position of no passed to it

2) count()
- This function is used to count frequency of given no

3) min()
- This will return min no from given list

4) max()
- This will return max no from given list

5) sort()
- This will sort list in ascending order
- For descending order we can make it as sort(reverse=True)

6) sorted()
- This will sort the given list and store that in another list
- i.e. a=sorted(b) so here a will be the sorted list will be will be unchanged list

In [27]:
new_list=[23,32,54,76,2,31,31,3]

In [28]:
new_list.index(31)

5

In [29]:
new_list.count(31)

2

In [30]:
min(new_list)

2

In [31]:
max(new_list)

76

In [32]:
sum(new_list)

252

In [33]:
new_list.sort(reverse=True)
print(new_list)

[76, 54, 32, 31, 31, 23, 3, 2]

In [34]:
sorted_list=sorted(new_list)
print(sorted_list)
print(new_list)

[2, 3, 23, 31, 31, 32, 54, 76]
[76, 54, 32, 31, 31, 23, 3, 2]

In [36]:
#for reverse order
sorted_list=sorted(new_list,reverse=True)
print(sorted_list)
print(new_list)

[76, 54, 32, 31, 31, 23, 3, 2]
[76, 54, 32, 31, 31, 23, 3, 2]

# Concept of Shallow Copy

In [37]:
a=[1,2,3,4,5,6]
b=a

In [38]:
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [39]:
a.remove(4)
print(a)
print(b)
#here we can see as we are tring to amake some changes in list a, they are automatically coming for b as well
#all this is happening just because of concept of shallow copy

[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6]

In [40]:
b=a[:]
a.remove(6)
print(a)
print(b)
#here we can see made changes in a and cant see that changes in b now. this is becasue of deep copy

[1, 2, 3, 5]
[1, 2, 3, 5, 6]

Deep copy- This creates new object in python

Shallow copy- This doesnot creates a new object while just assigns new name to the old object created